%h1 List of <%= plural_table_name %>

#<%= plural_table_name %>
  %table
    %tr
      <%= for attribute in attributes %>
        %th <%= attribute.human_name %>
      <% end %>
      %th{:colspan => 3}
    =render @<%= plural_table_name %>

  = link_to 'New <%= class_name %>', new_<%= singular_table_name %>_path, :class => 'new_record_link'

