.ninja.busy {
  background-color: white;
  background-image: url("/images/ui/spinner.gif");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.75;
  filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=75)"; }
