%h1 Mizugumo &#8121; Name

%p
  'mizugumo' is Japanese for 'water-spider'.  Mythologically, however, it is the
  name for special wooden shoes that ninja used to walk on water and thereby approach
  targets via unexpected routes.

%p
  As much as the Mythbusters were not impressed (real mizugumo likely did not work
  for actual water-walking, and probably only worked as snowshoes to cross marshy
  terrain), we thought it an appropriate name for an unobtrusive JS behavior library.



